<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftMonkeyDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7085C3C1ED7F4F100F1A9EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7085C531ED7F4F100F1A9EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7085C5E1ED7F4F100F1A9EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7999F8E1ED925DE003FBEE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
